:root {
    --bgcolor: #eee;
}

body{
    background: var(--bgcolor);
}

.elem
{
    background: rgb(63, 63, 63);
    height: 300px;
    border: 1px dotted #333;
    color: #fff;
    text-align: center;
    font-size: 2em;
    box-sizing: border-box;
    padding-top: 30px;
}

.mybut
{
    box-shadow: 0px 3px 0px 0px rgb(28, 66, 100);
    border-color: #337AB7;
}

.mybut:active
{
    margin-top: 3px;
    box-sizing: border-box;
    margin-bottom: -3px;
    border-color: #337AB7;
}
